<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>아무 말 대잔치</title>
        <link rel="stylesheet" href="../../css/reset.css" />
        <link rel="stylesheet" href="../../css/common.css" />
        <link rel="stylesheet" href="../../css/post.css" />
    </head>

    <body>
        <div class="modal-backdrop"></div>

        <header class="header-container"></header>

        <div class="container">
            <div class="content">
                <!-- POST -->
                <section class="post-container">
                    <div class="post-overview">
                        <span class="title" id="post-title"></span>
                        <div class="post-overview-info">
                            <div class="post-writer">
                                <img class="userimage" src="" alt="user" />
                                <span class="nickname" id="post-writer-nickname"></span>
                                <span class="date" id="post-uploaded-date"></span>
                            </div>
                            <div class="post-menu"></div>
                        </div>
                    </div>
                    <hr />
                    <div class="post-content">
                        <div class="post-image">
                            <img class="post-image" src="" alt="image" />
                        </div>
                        <div class="post-text" id="post-text"></div>
                    </div>

                    <div class="post-stats">
                        <div class="post-stats-item">
                            <span class="num" id="hits-count"></span>
                            <span class="item-name">조회수</span>
                        </div>
                        <div class="post-stats-item">
                            <span class="num" id="comment-count"></span>
                            <span class="item-name">댓글</span>
                        </div>
                    </div>
                </section>

                <hr />

                <!-- COMMENTS -->
                <section class="comments-container">
                    <div class="comment-new">
                        <div class="input-container">
                            <textarea
                                type="text"
                                placeholder="댓글을 남겨주세요!"
                                id="comment"
                            ></textarea>
                        </div>
                        <hr />
                        <div class="btn-container">
                            <button class="submit-btn" id="comment-upload-btn">
                                댓글 등록
                            </button>
                        </div>
                    </div>
                    <div class="comment-list-container"></div>
                </section>
                <div class="modal post-modal">
                    <span class="modal-title">게시글을 삭제하시겠습니까?</span>
                    <div class="modal-contents">
                        <span>삭제한 내용은 복구할 수 없습니다.</span>
                        <div class="modal-btn-container">
                            <button class="modal-btn btn-cancel" onclick="closeModal()">
                                취소
                            </button>
                            <button
                                class="modal-btn btn-confirm"
                                onclick="confirmDelete('post')"
                            >
                                확인
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal comment-modal">
                    <span class="modal-title">댓글을 삭제하시겠습니까?</span>
                    <div class="modal-contents">
                        <span>삭제한 내용은 복구할 수 없습니다.</span>
                        <div class="modal-btn-container">
                            <button class="modal-btn btn-cancel" onclick="closeModal()">
                                취소
                            </button>
                            <button
                                class="modal-btn btn-confirm"
                                onclick="confirmDelete('comment')"
                            >
                                확인
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="../../js/common.js"></script>
    <script src="../../js/post/contents.js"></script>
</html>
