<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>아무 말 대잔치</title>
        <link rel="stylesheet" href="../../style/css/reset.css" />
        <link rel="stylesheet" href="../../style/css/common.css" />
        <link rel="stylesheet" href="../../style/css/post.css" />
    </head>

    <body>
        <header class="header-container"></header>

        <div class="container">
            <div class="content">
                <div class="title">
                    <span>게시글 수정</span>
                </div>
                <section class="post-wrapper">
                    <form class="post-container">
                        <div class="post-item">
                            <span class="item-name">제목*</span>
                            <hr />
                            <textarea
                                class="item-input post-title"
                                id="post-title"
                                maxlength="26"
                                placeholder="제목을 입력해주세요. (최대 26글자)"
                            ></textarea>
                            <hr />
                        </div>
                        <div class="post-item">
                            <span class="item-name">내용*</span>
                            <hr />
                            <textarea
                                class="item-input post-contents"
                                id="post-contents"
                                placeholder="내용을 입력해주세요."
                            ></textarea>
                            <hr />
                            <span class="helper" id="post-helper"></span>
                        </div>
                        <div class="post-item">
                            <span class="item-name">이미지</span>
                            <input
                                class="item-input post-image"
                                type="file"
                                accept="image/*"
                                id="post-image"
                                name="post-image"
                            />
                            <img class="item-image" id="post-image-preview" />
                        </div>
                    </form>
                    <div class="btnbox">
                        <button class="submit-btn" id="post-update-btn">수정하기</button>
                    </div>
                </section>
            </div>
        </div>

        <script type="module" src="../../js/utils/header.js"></script>
        <script type="module" src="../../js/post/update.js"></script>
    </body>
</html>
