<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>아무 말 대잔치</title>
        <link rel="stylesheet" href="../../css/reset.css" />
        <link rel="stylesheet" href="../../css/common.css" />
        <link rel="stylesheet" href="../../css/post.css" />
    </head>

    <body>
        <header>
            <div class="block">
                <button class="back" onclick="location.href='/public/views/index.html'">
                    <img src="../../images/icons/chevron-left.png" />
                </button>
                <span>아무 말 대잔치</span>
                <img
                    class="user"
                    id="header-profile-img"
                    src="../../images/userimage.png"
                    alt="user"
                />
                <div class="modal-menu" id="header-modal">
                    <div class="modal-content">
                        <a class="modal-item" href="/public/views/user/updateInfo.html">
                            회원정보 수정
                        </a>
                        <a class="modal-item" href="/public/views/user/updatePwd.html">
                            비밀번호 수정
                        </a>
                        <a
                            class="modal-item logoutbtn"
                            href="/public/views/user/signin.html"
                        >
                            로그아웃
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="content">
                <div class="title">
                    <span>게시글 작성</span>
                </div>
                <section class="post-wrapper">
                    <form class="post-container">
                        <div class="post-item">
                            <span class="item-name">제목*</span>
                            <hr />
                            <textarea
                                class="item-input post-title"
                                id="post-title"
                                placeholder="제목을 입력해주세요. (최대 26글자)"
                                type="text"
                                maxlength="26"
                            ></textarea>
                            <hr />
                        </div>
                        <div class="post-item">
                            <span class="item-name">내용*</span>
                            <hr />
                            <textarea
                                class="item-input post-contents"
                                id="post-contents"
                                placeholder="내용을 입력해주세요."
                            ></textarea>
                            <hr />
                            <span class="helper" id="post-helper"></span>
                        </div>
                        <div class="post-item">
                            <span class="item-name">이미지</span>
                            <input
                                class="item-input post-image"
                                type="file"
                                id="post-image"
                                name="post-image"
                                accept="image/*"
                            />
                            <img class="item-image" id="post-image-preview" />
                        </div>
                    </form>
                    <div class="btnbox">
                        <button class="submit-btn" id="post-submit-btn">완료</button>
                    </div>
                </section>
            </div>
        </div>

        <script src="../../js/common.js"></script>
        <script src="../../js/post/writeAndUpdate.js"></script>
    </body>
</html>
