.content {
    justify-content: center;
}

/* LOGIN, UPDATE PWD */

.formbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 360px;
}
.formbox .title {
    display: flex;
    justify-content: center;
    font-size: 23px;
    font-weight: 700;
    line-height: 38px;
}
.formbox .inputbox {
    margin: 15px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.formbox .inputbox .item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
}
.formbox .inputbox .item .input-name {
    padding: 5px 0;
    font-size: 15px;
    font-weight: 700;
}
.formbox .inputbox .item .input {
    height: 25px;
    padding-left: 10px;
}

.submit-btn {
    width: 280px;
    height: 30px;
}

.additional {
    margin-top: 10px;
    line-height: 16px;
    font-size: 12px;
    font-weight: 200;

    &:hover {
        cursor: pointer;
    }
}

/* UPDATE INFO */

.formbox .inputbox .item .text {
    font-weight: 300;
    line-height: 16px;
    font-size: 14px;
}
.item .profile-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.formbox .inputbox .item img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    color: #4646468c;
}

.item .profile-image-wrapper .profile-image-overlay {
    width: 140px;
    height: 140px;

    display: flex;
    justify-content: center;
    align-items: center;
    background: #4646465c;
    border-radius: 50%;
    position: absolute;
}

.item .profile-image-wrapper label {
    &:hover {
        cursor: pointer;
    }
}
.item .profile-image-wrapper .profile-image-overlay label {
    width: 45px;
    height: 30px;

    border: 1px solid #fff;
    background-color: #000000;
    border-radius: 20px;
    opacity: 0.5;
    color: #fff;
    font-size: 13px;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
}

.item .profile-image-wrapper input {
    display: none;
}

.toast {
    background-color: #aca0eb;
    width: 100px;
    height: 40px;
    color: white;
    font-size: 14px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
